# Dependencias de Node
node_modules/

# Archivos de entorno (contraseñas y secretos)
.env

# Archivos de compilación de TypeScript
dist/
build/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Linux y KDE (Kubuntu)
.directory
*~
*.swp



/src/generated/prisma
